<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/zocial.css">
  <!-- endbuild -->
</head>
<body ng-app="quoteApp" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="container content">
        <div class="row row-offcanvas row-offcanvas-left ">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas visible-xs" id="sidebar">
            <div class="col-xs-12" ng-controller="SideMenuCtrl">
              <div class="menu-header">
                <div class="col-xs-4"><img ng-src="{{user.profilePic || 'images/user.png'}}" alt="..." class="img-circle"></div>
                <div class="col-xs-8">Welcome {{user.first_name || 'User'}}</div>
              </div>
              <div class="menu-container" >
                <ul class="menu">
                  <li><a href="#/">Home</a></li>
                  <li data-toggle="modal" data-target=".bs-example-modal-sm" ng-if="!user.login"><a href="" >Login</a></li>
                  <li ng-if="user.login"><a href="#/">Favourites</a></li>
                  <li ng-if="user.login"><a href="#/">Add Quote</a></li>
                  <li><a href="#/page/help">Help</a></li>
                  <li><a href="#/page/about">About</a></li>
                  <li><a href="#/page/rating">Rate App</a></li>
                  <li ng-if="user.login"><a href="#/" ng-click="logout()">Sign out</a></li>
                </ul>
              </div>
              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                   <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Sign in</h4>
                  </div>

                  <div class="modal-body modal-body-content">
                    <div ng-click='fblogin()' data-dismiss="modal"><a class="zocial facebook"> Sign in with Facebook</a></div>
                    <div ng-click='gplusLogin()' data-dismiss="modal"><a class="zocial googleplus">Sign in with Google+</a></div>
                    <div data-dismiss="modal"><a class="zocial twitter">Sign in with Twitter </a></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
          <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header row">
                <div class="col-xs-2 visible-xs">
                  <button type="button" class="navbar-toggle" data-toggle="offcanvas">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button> 
                </div>
                <div class="col-xs-10 col-sm-12" >
                  <div class="col-xs-9 col-sm-9"><a class="navbar-brand" href="#/">Quote's</a></div>
                  <!-- <div class="col-xs-3 col-sm-3"><img src="images/filter.png"></div> -->
                  <!-- Split button -->
                  <div class="col-xs-3 col-sm-3 fliter-ico" >
                   <div class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
                    <span aria-hidden="true"><img src="images/filter.png"></span> 
                  </div>
                  
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu" ng-controller="FilterMenuCtrl" >
                    <li><h3>Category</h3></li>
                    <li ng-repeat="menuItem in menuItems"><a ng-href="#/{{menuItem.key}}">{{menuItem.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 quote-container">
        <div ng-view=""></div>
      </div>
      <div class="footer">
        <div class="container">
          <p>Copyright @ 2015</p>
        </div>
      </div>
    </div>    
  </div>
  
  
</div>
<div id="fb-root"></div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--  <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script> -->
     
     <script src="https://apis.google.com/js/client.js"></script>


     <!-- build:js(.) scripts/vendor.js -->
     <!-- bower:js -->
     <script src="bower_components/jquery/dist/jquery.js"></script>
     <script src="bower_components/angular/angular.js"></script>
     <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
     <script src="bower_components/angular-cookies/angular-cookies.js"></script>
     <script src="bower_components/angular-resource/angular-resource.js"></script>
     <script src="bower_components/angular-route/angular-route.js"></script>
     <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
     <script src="bower_components/angular-touch/angular-touch.js"></script>
     <!-- endbower -->

     <!-- endbuild -->

     <script src="scripts/app.js"></script>
     <script src="scripts/app-const.js"></script>
     <script src="scripts/services/social-config.js"></script>
     <script src="scripts/services/fb-util.js"></script> 
     <script src="scripts/services/gplus-util.js"></script> 
     <script src="scripts/controllers/main.js"></script>
     <script src="scripts/controllers/filter-menu.js"></script>    
     <script src="scripts/controllers/side-menu.js"></script>
     <script src="scripts/controllers/about.js"></script>
     <script src="scripts/controllers/help.js"></script>
     <script src="scripts/controllers/rating.js"></script>  
       

     <!-- endbuild -->
   </body>
   </html>
