<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- <link rel="stylesheet" href="styles/zocial.css"> -->
  <!-- endbuild -->
</head>
<body ng-app="quoteApp" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="container content">
        <div class="row row-offcanvas row-offcanvas-left ">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas visible-xs" id="sidebar">
            <div class="col-xs-12" ng-controller="SideMenuCtrl">
              <div class="menu-header">
                <div class="col-xs-4"><img ng-src="{{user.profilePic || 'images/user.png'}}" alt="..." class="img-circle"></div>
                <div class="col-xs-8">Welcome {{user.first_name || 'User'}}</div>
              </div>
              <div class="menu-container" >
                <ul class="menu">
                  <li><a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                  <li data-toggle="modal" data-target=".bs-example-modal-sm" ng-if="!user.login"><a href="" ><span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
                  <li ng-if="user.login"><a href="#/"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>   Favourites</a></li>
                  <li ng-if="user.login"><a href="#/page/addQuote"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> AddQuote</a></li>
                  <li><a href="#/page/about"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                  <li><a href="#/page/help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a></li>
                  <li><a href="#/page/about"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                  <li data-toggle="modal" data-target=".rate-app-modal-sm"><a href=""><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Rate App</a></li>
                  <li ng-if="user.login"><a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</a></li>
                </ul>
              </div>


                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                   <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>

                  </div>

                </div>
              </div>
            </div>


                </div>
              </div>
            </div>





        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
</div>
<div id="fb-root"></div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--  <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script> -->
     
     <script src="https://apis.google.com/js/client.js"></script>


     <!-- build:js(.) scripts/vendor.js -->
     <!-- bower:js -->
     <script src="bower_components/jquery/dist/jquery.js"></script>
     <script src="bower_components/angular/angular.js"></script>
     <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
     <script src="bower_components/angular-cookies/angular-cookies.js"></script>
     <script src="bower_components/angular-resource/angular-resource.js"></script>
     <script src="bower_components/angular-route/angular-route.js"></script>
     <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
     <script src="bower_components/angular-touch/angular-touch.js"></script>
     <!-- endbower -->

     <!-- endbuild -->

     <script src="scripts/app.js"></script>
     <script src="scripts/app-const.js"></script>
     <script src="scripts/services/social-config.js"></script>
     <script src="scripts/services/fb-util.js"></script> 
     <script src="scripts/services/gplus-util.js"></script> 
     <script src="scripts/controllers/main.js"></script>
     <script src="scripts/controllers/filter-menu.js"></script>    
     <script src="scripts/controllers/side-menu.js"></script>
     <script src="scripts/controllers/about.js"></script>
     <script src="scripts/controllers/help.js"></script>
     <script src="scripts/controllers/rating.js"></script>
     <script src="scripts/controllers/add-quote.js"></script>
     <!-- endbuild -->  

     <!-- endbuild -->
   </body>
   </html>
