<div class="panel panel-default" ng-repeat= "quote in quotes | filter:{type : quoteType}">
	<div class="container">
		<div class="row">
			<div class="panel-body" ng-click="showDetails(quote)">
				{{quote.desc}}
			</div>
		</div>
		<div ng-if="user.login" class="quote-menu"><set-favourite is-fav="false" on="heart glyphicon-heart" off="heart-empty glyphicon-heart-empty"/></div>
	</div>
</div>

<div class="modal modal-vcenter fade currentQuote-app-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
       <div class="modal-header" ng-if="user.login">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span> </h4>
      </div>
      <div class="modal-body modal-body-content">
        {{currentSelectedQuote.desc}}
      </div>
    </div>
  </div>
</div>
