<!-- <div class="panel panel-default " ng-repeat= "quote in quotes">
	<div class="container">
		<div class="row">
			<div class="panel-body col-xs-10" >
				{{quote.desc}}
			</div>
			<div class="col-xs-2 " >
				<div class="favour">
					<img src="images/star.jpg">
				</div>	
			</div>
		</div>
	</div>
</div> -->

<div class="panel panel-default " ng-repeat= "quote in quotes">
	<div class="container">
		<div class="row">
			<div class="panel-body" >
				{{quote.desc}}
			</div>
		</div>
	</div>
</div>